
// Variables
@import "variables";

.navbar{
  margin-bottom: 0px;
}
body{
  background-color: rgb(219, 219, 219);
}

.big-padding{
  padding: 30px;
}

.blue-grey{
  background-color: #37474f;
}

.white{
  background-color: #fff;
}
.white-text{
  color: white;
}

.table{
  background-color: white;
}

.floating{
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 100;
}
